@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap');

 body{
  font-size: 18px;
  padding: 0;
  margin: 0;
  background-image: url('./imagens/background.jpg');
  background-attachment: fixed;
  background-size: contain;
  font-family: 'Roboto', sans-serif;
  color: #5E4D3A;
  text-align: center;
}

.container{
  display: flex;
  align-items: center;
  margin: 30px
}

.img-header{
  margin-top: 30px;
}

.item-dFlex{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 450px;
  margin-top: 20px;
  flex-direction: row;
}

.directionColumn{
  flex-direction: column;
}

.textArea{
  background-color: #1E1915;
  text-decoration: none;
  outline: none; 
  height: 450px;
  width: 450px;
  border: solid 2px #5E4D3A;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #5E4D3A;
}

.inputKey{
  text-decoration: none;
  outline: none; 
  padding: 15px;
  background-color: #1E1915;
  border: solid 2px #5E4D3A;
  border-radius: 10px;
  font-size: 18px;
  color: #5E4D3A
}

.button{
  background-color: #5E4D3A;
  border: 0;
  color: #1E1915;
  padding: 15px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
  outline: none;
}

.button:hover{
  background-color:#1E1915;
  color: #5E4D3A
}

::placeholder{
  color: #5E4D3A;
}