@import url('https://fonts.googleapis.com/css?family=Montserrat');

 body{
        font-size:14px;
        width: 100%;
        min-width: 1140px;
        padding:0;
        background: rgb(215, 235, 231);
        font-family: 'Montserrat', sans-serif;
        color: #666;
}


.content-floating{
   
    background: rgb(152, 206, 196);
    /*rgb(148, 33, 33)*/
    width: 800px;
    height: 200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    resize: both;
    overflow: auto;

}

h1 {
    font-family: 'Montserrat', sans-serif;;
    display: block;
    font-size: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center; 
    font-weight: bold;
    color: rgb(148, 33, 33)
   
}

.span2 p{
    
    box-shadow: none;
    border: none;
    padding: 0px;
    font-weight: lighter;
    font-size: 14px;
    text-align: center;
    line-height: 20px;
    float: left;
    padding-bottom: 5px;
    font-family: 'Montserrat', sans-serif;
}

.span2{
    
    display: flex;
    flex-direction: column;
    margin-right: auto;
    box-sizing: border-box;
    width: 25%;
    float: left;
    margin-left: 0;
    align-items:center;
    
}


.span2 img{
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 auto;
    display: block;
    width: 50px;
    height: 50px;
}


.box-one{
    background:  transparent;
    height: 200px;
    width: 800px;
    margin: 0 auto;
    padding: 20px;
    display: block;
   /* justify-content: center;
    align-items: center;
    resize: both;
    overflow: auto;
    align-items: center*/
}

.tarea1ballon textarea{
    align-items: center;
    width: 510px;
    height: 80px;
    background: transparent;
    border: none;
    text-decoration: none;
    margin-left: 10px;
    margin-top: 9px;
    margin-right: 10px;
    font-family: 'Montserrat', sans-serif; 
    font-size: 14px;
    overflow-y: hidden;
    outline: none;
    
  }

  .balao1 {
    background:  rgb(245, 243, 243);
    border-radius: 15px;
    width: 550px;
    height: 100px;
    position: relative;
  }
  
  .balao1:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid rgb(245, 243, 243);
    bottom: -20px;
    left: 20%;
  }

  .box-two{
    background:  transparent;
    height: 120px;
    width: 800px;
    margin: 0 auto;
    padding: 20px;
    display: block;
    resize: both;
    overflow: auto;
    align-items: center;
    justify-content: center;
    align-items: center;
}

  .tarea2ballon textarea{
    align-items: center;
    width: 510px;
    height: 80px;
    background: transparent;
    border: none;
    text-decoration: none;
    margin-left: 10px;
    margin-top: 9px;
    margin-right: 10px; 
    font-family: 'Montserrat', sans-serif; 
    font-size: 14px;
    overflow-y: hidden;
    outline: none;
  }


  .balao2 {

    background:  rgb(245, 243, 243);
    border-radius: 15px;
    width: 550px;
    height: 100px;
    position: relative;
    
  }
  
  .balao2:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid rgb(245, 243, 243);
    bottom: -20px;
    left: 20%;
  }




  .Inputoffset input{
    align-items: center;
    width: 250px;
    height: 20px;
    background: rgb(245, 243, 243);
    border: none;
    text-decoration: none;
    margin-left: 10px;
    margin-top: 30px;
    margin-right: 10px; 
    font-family: 'Montserrat', sans-serif;
    font-size: 14px; 
    
  }

  .buttons button{
   
    border: 0;
    font-size: 12px;
    color: #4c4e52;
    padding: 15px;
    border-radius: 3px;
    margin-left: 100px;
    margin-top: 20px;
    margin-right: 10px;
   display: inline;
    cursor: pointer;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    outline: none;
  }

  .buttons button:hover{
      background:rgb(148, 33, 33);
      color: rgb(245, 243, 243);

  }
::placeholder{
    color: #666;
    font-size: 12px;
     font-family: 'Montserrat', sans-serif;
   }

   .legenda{
    font-size:17px;
    margin-bottom: 5px;
    display: block;
    text-align: center;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
  }
  .rodape{
    background: rgb(148, 33, 33); 
    width: 100%; 
    height: 50px;
    padding: 5px 2%; 
    text-align: center
}

.result {
    margin-left: 250px;
}